// ==================================================
// 字体类
// ==================================================

// 字体
@font-face {
  font-family: 'euphemia';
  src: url('../fonts/Euphemia.ttf') format('truetype');
}