/* 容器 */
.page-container
  size 100%

.main-content
  height 100%
  box-sizing border-box

  .foot-actions
    fixed bottom rem(60)
    size 100% rem(140)
    text-align center

.with-foot-actions
  padding-bottom rem(140)

.food-edit-list
  padding-top rem(24)
