// ==================================================
// 基础配置
// ==================================================

// 灰度色
// ------------------------------
black = #000
gray-darker = #020202
gray-dark = #333
gray = #b4b0ac
gray-light = #999
gray-lighter = #ccc
white = #FFF

// 彩色
// ------------------------------
orange = #ff8314

// 链接色
// ------------------------------
// 正常状态
link-color = gray-dark

// 排版
// ------------------------------

// 字体设置
browser-default-font-size = 10px
font-color = white
default-line-height = 1.5

breakpoints = 480 640 800 960 1080

// 等比例缩放
responsive = true

