.btn
  display inline-block
  border none
  outline none
  color #FFF
  font-dpr 16px
  height rem(90)
  line-height rem(90)

// 通栏按钮
.btn-block
  width 100%

// 大按钮
.btn-lg
  size rem(524) rem(80)
  line-height rem(80)
  font-dpr 15px
  background-color #ffc72f
  padding rem(0)
  border-radius rem(40)

// 中按钮
.btn-md
  size rem(284) rem(66)
  line-height rem(66)
  font-dpr 13px
  background-color #ffc72f
  padding rem(0)
  border-radius rem(33)

// 小按钮
.btn-sm
  size rem(130) rem(50)
  line-height rem(50)
  background-color #ffa96f
  padding rem(0)
  border-radius rem(25)
